@import '../../../styles/colors';

.defaultBtn{
    background-color: $BRAND_COLOR_ORANGE;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: $WHITE;
    padding: 5px 20px;
    border-bottom: 5px solid $BRAND_COLOR_ORANGE_DARKEST;
    width: 100%;
    margin-bottom: 16px;

    transition: .3s;

    &:hover{
        border-bottom: 0;
        margin-top: 5px;
      }
  }